.countryCard{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   border: 1px solid gray;
  padding: 10px;
  margin:20px;
  width:150px;
  height: 180px;

}

.container{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

 
  flex-wrap: wrap;

}